services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    image: ghcr.io/<TON_USER>/<TON_REPO>-backend:latest
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    image: ghcr.io/<TON_USER>/<TON_REPO>-frontend:latest
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped

  
volumes:
  pgdata:
