services:
  database:
    image: postgres:16
    environment:
      POSTGRES_DB: DigiPro
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: 
      context: ./backend
      dockerfile: ../infra/backend/Dockerfile.dev
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - database
    volumes:
      - ./backend:/app

volumes:
  pgdata:
